<div class="container">
  <div class="control-bar">
    <app-button customClass="success" (onClick)="addNewBox()" label="+ New Box"></app-button>
    <app-button customClass="danger" (onClick)="clear()" label="Clear"></app-button>
    <app-toggle-button (onToggle)="disableListeners($event)"></app-toggle-button>
  </div>
  <div class="fence">
    <div *ngFor="let box of boxes; let i = index" class="box" [ngClass]="{'selected': i===selectedBoxIndex}"
      [style.width]="box.width+'vw'" [style.height]="box.height+'vh'" [style.background]="box.color"
      [style.top]="box.top+'vh'" [style.left]="box.left+'vw'" (click)="selectBox(i)">
      {{box.id}}
    </div>
  </div>
</div>